
    <div class="about-page">
        <div class="section-about">
            <h3>About PleasureRails</h3>
            <p>
            
            Welcome to PleasureRails, where the journey is as delightful as the destination. As a premier railway service, we take pride in providing travelers with an unparalleled experience of comfort, safety, and joy.
            </p>
         <h3>Our Story</h3>
            <p>
            
            Established in 1972, PleasureRails emerged with a vision to redefine train travel, transforming it into an adventure of luxury and relaxation. Over the years, we've cultivated a reputation for delivering exceptional services, ensuring every journey is not just a means of transportation but a memorable part of your travel narrative.
        </p>
        <h3> Commitment to Excellence</h3>
            <p>
          
            
            At PleasureRails, our commitment to excellence extends to every aspect of your travel experience. From the moment you step onto our meticulously maintained trains to the unparalleled customer service provided by our dedicated staff, we strive to exceed your expectations.</p>
            <h3>State-of-the-Art Facilities</h3>
        
          <p>  
            Our modern fleet of trains is equipped with state-of-the-art facilities to ensure your journey is not only convenient but also enjoyable. Spacious cabins, comfortable seating, and panoramic windows offer a scenic backdrop to your travels.
        </p>
        <h3> Safety First</h3>
    <p>
            
            
            Your safety is our top priority. PleasureRails employs cutting-edge security measures and adheres to the highest industry standards to guarantee a secure and worry-free journey. Our dedicated team of professionals ensures that every aspect of your travel experience is well-maintained and secure.
            
            Thank you for choosing PleasureRails. We look forward to being a part of your remarkable travel experiences.
            
            
            </p></div>
        <div class="img-cent"><img width="600px" height="500px" src="./assets/images/old-train.jpg" alt="train"></div>
    </div>

