.about-page{
    padding: 40px;
    display: flex ;
    align-items: center ;
    justify-content: center;
  height: 100%;
   gap: 50px;
}

.section-about{
    height: 100%;
    p{
        font-size: 20px;
        line-height: 26px;
        font-style: oblique;
        text-indent: 1.5em;
    text-align: justify;

    }
}
