
<div>
    <div class="hero-section">
    <div class="hero-image">
      <img src="./assets/images/railway.jpeg" class="img-fluid "alt="Railway Image" />
    </div>
    <div class="hero-content">
      <h2>Welcome to the PleasureRails</h2>
      <p>Book your tickets and enjoy a comfortable journey with us.</p>
    </div>
  </div>

  <main>
    <section class="booking-section navbar-light bg-light">
      <h2>Book Your Ticket</h2>
      <p>Enter your details and book your train ticket online.</p>

      <button style="width: 150px;" (click)="redirectToTrainList()">Book Now</button>
    </section>

    <section class="Our-Service">
      <div class="service-text-center">
        <h2>What We Offer?</h2>
        <p>
          Explore our range of services and enjoy a secure and hassle-free
          travel experience. With state-of-the-art security measures, your
          safety is our top priority. Our modern and well-maintained trains,
          along with courteous staff, ensure a comfortable journey. Relax and
          let us take care of the details, so you can focus on the joy of
          travel.
        </p>
      </div>
      <div class="section-img">
        <img src="./assets/images/holiday.jpg" class ="img-fluid" alt="holidayIcon" />
      </div>
    </section>
  </main>
</div>

