.nav-a {
    margin-left: 80px !important;
    gap: 130px !important;
  }
  
  .navbar-text {
    box-shadow: 0px 0.5px 0px 0px;
    width: 172px;
    text-align: center;
    text-indent: 0.5em;
    color: black;
  }